<nav class="bottom-nav">
    <div class="container">
        <ul class="nav-list">
            <NavItem Href="/" Icon="home" Text="Home" />
            <NavItem Href="/task" Icon="check-square" Text="Task" />
            <NavItem Href="/referrals" Icon="users" Text="Referrals" />
            <NavItem Href="/boost" Icon="zap" Text="Boost" />
        </ul>
    </div>
</nav>

@code {
    // BottomNav component code (if needed)
}