<div class="logo-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="phoenix-logo">
        <path d="M12 2L2 12h3l7-7 7 7h3L12 2z" />
        <path d="M12 22v-8" />
        <path d="M12 14l-2.5 2.5" />
        <path d="M12 14l2.5 2.5" />
        <path class="animated-path" d="M12 14v4" />
    </svg>
</div>

